@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="AddRole" asp-controller="Rol" class="btn btn-info btn-sm my-2">Yeni Rol Ekle</a>

<table class="table table-sm table-hover">
    <tr>
        <td>AD</td>
        <td>İşlem</td>
        <td>Roller</td> 
    </tr>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="AssignRole" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Rol Ata</a>
                    <a asp-action="AddClaim" asp-route-id="@item.Id"  asp-controller="Female" class="btn btn-info btn-sm">Bayan Claim Ekle</a>
                </td>
                <td>
                    <rolegoster user-id="@item.Id"></rolegoster>
                </td> 
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Kayıtlı Rol bulunmamaktadır.</td>
        </tr>
    }

</table>

