
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-warning"> Hata! </h2>
<h4 class="text-danger text-center">İlgili Sayfaya Erişim yetkiniz yok ! </h4>

